<header>
    <nav class="menu-normal">
        <h3>Home</h3>
        <h3>Explore The Property</h3>
        <h3>Contact</h3>
    </nav>

    <img src="/Logo_3_00000.png" alt="Logotipo PS">
    
    <nav class="social">
        <div class="social-icons">
            <a class="social-icon" href="https://www.instagram.com/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a class="social-icon" href="https://twitter.com/" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a class="social-icon"  href="https://www.facebook.com/" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
    </nav>

</header>