<app-header></app-header>

<div class="contenedor-casa">
  <img class="casa-imagen" alt="Casa parte frontal" src="/house-front.jpg">
</div>

<section class="informacion-vinedos">
    <h2>Información sobre Viñedos</h2>
    <p>Los viñedos son terrenos dedicados al cultivo de la vid, la planta de la cual se obtiene la uva. Esta actividad agrícola es fundamental en la producción de vinos, ya que las uvas son la materia prima principal para su elaboración. Los viñedos suelen estar ubicados en regiones con condiciones climáticas específicas que favorecen el cultivo de la vid, como un clima templado, suelos adecuados y una buena exposición solar.</p>
    <!-- Aquí puedes agregar más información según tus necesidades -->
  </section>
  
  <footer>
    <div class="contenedor-footer">
      <p>© 2024 JudameCode. Todos los derechos reservados.</p>
    </div>
  </footer>
  